<!DOCTYPE html>
<html>
<head>
  <title>Rails Layouts and Templates Lab</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data_turbolinks_track' => true %>
  <%= javascript_include_tag 'application', 'data_turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Flatiron Widgets Store </h1>
   <%= yield %>

 </body>
 </html>
